<div class="d-flex align-items-center justify-content-center bg-img" style="height: 100vh;">
    <div class="login-card w-50 shadow bg-light row w3-animate-right">
        <div class="col-6 bg-img-card rd-left d-flex align-items-center justify-content-center">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active text-center">
                    <img src="assets/images/undraw_welcoming_re_x0qo.svg" class="d-block w-75 m-auto" alt="...">
                    <div class="d-none d-md-block">
                      <h5 class="text-white mb-0">Bienvenue sur SG2 Courrier !</h5>
                      <small class="fine">votre système de gestion de courrier.</small>
                    </div>
                  </div>
                  <div class="carousel-item text-center">
                    <img src="assets/images/undraw_data_processing_yrrv.svg" class="d-block w-75 m-auto" alt="...">
                    <div class="d-none d-md-block">
                      <h5 class="text-white mb-0">Enregistrer vos courriers</h5>
                      <small class="fine">plus besoin de cahier ni de stylo.</small>
                    </div>
                  </div>
                  <div class="carousel-item text-center">
                    <img src="assets/images/undraw_photocopy_re_gln4.svg" class="d-block w-75 m-auto" alt="...">
                    <div class="d-none d-md-block">
                      <h5 class="text-white mb-0">Numériser vos courriers</h5>
                      <small class="fine">fini les copies de courrier qui traînent.</small>
                    </div>
                  </div>
                  <div class="carousel-item text-center">
                    <img src="assets/images/undraw_file_searching_re_3evy.svg" class="d-block w-75 m-auto" alt="...">
                    <div class="d-none d-md-block">
                      <h5 class="text-white mb-0">Recherche de courrier</h5>
                      <small class="fine">rechercher devient un jeu d'enfant.</small>
                    </div>
                  </div>
                  <div class="carousel-item text-center">
                    <img src="assets/images/undraw_data_re_80ws.svg" class="d-block w-75 m-auto" alt="...">
                    <div class="d-none d-md-block">
                      <h5 class="text-white mb-0">Statistiques</h5>
                      <small class="fine">bilan mensuel, trimestriel, semestriel, etc...</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6 d-flex align-items-center flex-column justify-content-center">
            <div>
                <img src="favicon.ico" alt="logo" class="img-fluid" width="50">
            </div>
            <h4 class="txt-blue fw-bold" style="font-family: 'Montserrat';">SG2 Courrier</h4>
            <div class="px-4 text-center" style="font-size: small;">
                Identifiez-vous afin d'avoir accès à l'application. En cas de problème, contactez votre administrateur.
            </div>
            <div class="text-center" *ngIf="loading">
              <app-loader></app-loader>
            </div>
            <form [formGroup]="formGroup" class="w-75" [ngClass]="{'mt-4': !loading}" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <div class="group shadow-sm">
                        <input type="text" id="email" placeholder="Email" formControlName="email">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="group shadow-sm">
                        <input [type]="visible ? 'text' : 'password'" id="password" placeholder="Mot de passe" formControlName="password">
                        <fa-icon [icon]="visible ? faEyeSlash : faEye" (click)="onVisible()" style="cursor: pointer;"></fa-icon>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" id="remember" class="form-check-input">
                    <label for="remember" class="form-check-label">Se souvenir de moi</label>
                </div>
                <input type="submit" value="Connexion" [class]="formGroup.invalid ? 'btn-invalid' : 'btn-blue'" [disabled]="formGroup.invalid">
            </form>

            <small class="text-muted mt-5">&mdash; RTI@Service courrier &mdash;</small>
        </div>
    </div>
</div>