<div class="d-flex align-items-center justify-content-center bg-img" style="height: 100vh;">
    <div class="login-card w-50 shadow bg-light row w3-animate-right">
        <div class="col-6 bg-img-card rd-left d-flex align-items-center justify-content-center">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active text-center">
                    <img src="assets/images/undraw_secure_login_pdn4.svg" class="d-block w-75 m-auto mb-3" alt="...">
                    <div class="d-none d-md-block">
                      <h5 class="text-white mb-0">Changer mon mot de passe</h5>
                      <small class="fine">Modifier le mot de passe à la première connexion.</small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6 d-flex align-items-center flex-column justify-content-center">
            <div>
                <img src="favicon.ico" alt="logo" class="img-fluid" width="50">
            </div>
            <h4 class="txt-blue fw-bold" style="font-family: 'Montserrat';">Mail Manager</h4>
            <div class="px-4 text-center" style="font-size: small;">
                Modifiez votre mot de passe.
            </div>
            <div class="text-center" *ngIf="loading">
              <app-loader></app-loader>
            </div>
            <form [formGroup]="formGroup" class="w-75" [ngClass]="{'mt-4': !loading}" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                  <div class="group shadow-sm">
                      <input [type]="visible[0] ? 'text' : 'password'" id="oldPassword" placeholder="Ancien mot de passe" formControlName="oldPassword">
                      <fa-icon [icon]="visible[0] ? faEyeSlash : faEye" (click)="onVisible(0)" style="cursor: pointer;"></fa-icon>
                  </div>
                </div>
                <div class="form-group mb-3">
                    <div class="group shadow-sm">
                        <input [type]="visible[1] ? 'text' : 'password'" id="newPassword" placeholder="Nouveau mot de passe" formControlName="newPassword">
                        <fa-icon [icon]="visible[1] ? faEyeSlash : faEye" (click)="onVisible(1)" style="cursor: pointer;"></fa-icon>
                    </div>
                </div>
                <div class="form-group mb-3">
                  <div class="group shadow-sm">
                      <input [type]="visible[2] ? 'text' : 'password'" id="confirmPassword" placeholder="Confirmer le mot de passe" formControlName="confirmPassword">
                      <fa-icon [icon]="visible[2] ? faEyeSlash : faEye" (click)="onVisible(2)" style="cursor: pointer;"></fa-icon>
                  </div>
              </div>
    
                <input type="submit" value="Modifier" [class]="formGroup.invalid ? 'btn-invalid' : 'btn-blue'" [disabled]="formGroup.invalid">
            </form>

            <small class="text-muted mt-5">&mdash; RTI@Service courrier &mdash;</small>
        </div>
    </div>
</div>