<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Administration</li>
            </ol>
        </nav>    
    </div>

    <div class="content mt-4 w3-animate-opacity">
        <div class="pb-2 w3-border-bottom mb-3">
            <h4 class="txt-blue fw-bold" style="font-family: 'Montserrat';">Gestion des utilisateurs</h4>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <input 
                #search
                (keyup)="onSearch(search.value)"
                type="search" 
                class="w3-input w3-border w-50" 
                placeholder="Saisissez le nom du compte...">
            <button class="btn-blue px-4 w-auto" routerLink="/admin/settings/edit-user/0">
                <fa-icon [icon]="faUserPlus" class="me-2"></fa-icon>
                Nouvel utilisateur
            </button>
        </div>
        <div class="text-center" *ngIf="loading">
            <app-loader></app-loader>
        </div>
        <div class="p-3 text-center" *ngIf="users.length === 0">
            Aucun utilisateur ne correspond à la recherche : <strong>"{{ search.value }}"</strong>
        </div>
        <div class="p-3 row" *ngIf="users.length > 0">
            <div class="col-3 mb-4 px-3" *ngFor="let user of users">
                <div class="card w3-border-0 shadow-sm bg-light">
                    <div class="card-body shadow-sm d-flex justify-content-between align-items-start">
                        <div class="d-flex align-items-center">
                            <img [src]="urlG + user.user_image" alt="" class="rounded-circle" style="width: 70px; height: 70px;">
                            <div class="ms-3">
                                <p class="m-0 fw-bold" style="font-size: small;">{{ (user.user_lastname + ' ' + user.user_firstname) | titlecase }}</p>
                                <small>{{ user.user_role | uppercase }}</small>
                            </div>
                        </div>
    
                        <div class="dropdown">
                            <button type="button" class="btn btn-sm h-auto" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><button class="dropdown-item" (click)="showProfile(user.user_id)">Voir le profil complet</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" [routerLink]="['/admin/settings/edit-user', user.user_id]">Editer le compte</a></li>
                                <li><button class="dropdown-item" (click)="showPopPwdChange(user.user_id)">Changer le mot de passe</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item" (click)="onDelete(user.user_id)">Supprimer le compte</button></li>
                                <!-- <li><a class="dropdown-item" href="#">Désactiver le compte</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>