<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Administration</li>
            </ol>
        </nav>    
    </div>

    <div class="content mt-4">
        <div class="pb-2 w3-border-bottom mb-3">
            <h4 class="txt-blue fw-bold" style="font-family: 'Montserrat';">Gestion des utilisateurs</h4>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <input type="search" class="w3-input w3-border w-50" placeholder="Saisissez le nom du compte...">
            <button class="btn-blue px-4 w-auto" routerLink="/admin/settings/edit-user/0">
                <fa-icon [icon]="faUserPlus" class="me-2"></fa-icon>
                Nouvel utilisateur
            </button>
        </div>
        <div class="p-3 row">
            <div class="col-3 mb-4 px-3" *ngFor="let n of [].constructor(7)">
                <div class="card w3-border-0 shadow-sm bg-light">
                    <div class="card-body p-2 d-flex justify-content-between align-items-start">
                        <div class="rounded-circle bg-white shadow-sm d-flex align-items-center" style="width: 70px; height: 70px;">
                            <img src="assets/images/avatar.png" alt="" class="w-100 h-100 rounded-circle">
                            <div class="ms-3">
                                <p class="m-0 fw-bold" style="font-size: small;">Martine</p>
                                <small>Administrateur</small>
                                <small class="badge bg-danger d-block">Inactif</small>
                            </div>
                        </div>
    
                        <div class="dropdown">
                            <button type="button" class="btn btn-sm h-auto" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><button class="dropdown-item" data-micromodal-trigger="modal-1">Voir le profile complet</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Editer le compte</a></li>
                                <li><a class="dropdown-item" href="#">Changer le mot de passe</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Supprimer le compte</a></li>
                                <li><a class="dropdown-item" href="#">Désactiver le compte</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Micromodal
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
            Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
          </p>
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary">Continue</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>