<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Nouveau courrier</li>
            </ol>
        </nav>    
    </div>
    <div class="content mt-4">
        <div class="w3-border p-2 d-flex align-items-center bg-blue text-white">
            <img src="assets/images/email.png" alt="" class="me-3">
            Nouveau courrier
        </div>
        <div class="mt-1 p-3">
            <form class="row" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="col-6">
                    <div class="form-group">
                        <label for="dateenvoi" class="form-label">Date de reception. <span class="text-danger">*</span></label>
                        <input type="date" class="w3-border w3-input" id="dateenvoi" formControlName="dateReceived">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="nom" class="form-label">Nom de l'expéditeur. <span class="text-danger">*</span></label>
                        <input type="text" class="w3-border w3-input" list="expediteur" formControlName="corresponding">
                        <datalist id="expediteur">
                            <select>
                                <option 
                                *ngFor="let direction of directions"
                                [value]="direction.dir_label">{{ direction.dir_label }}</option>
                            </select>
                        </datalist>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <label for="objet" class="form-label">Objet. <span class="text-danger">*</span></label>
                        <input type="text" class="w3-border w3-input" id="objet" formControlName="object" list="object">
                        <datalist id="object">
                            <option 
                            *ngFor="let object of objects"
                            [value]="object.mail_object">{{ object.mail_object }}</option>
                        </datalist>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <label for="service" class="form-label">Destinataire. <span class="text-danger">*</span></label>
                        <input type="text" class="w3-border w3-input" list="service" formControlName="idDirection">
                        <datalist id="service">
                            <option 
                            *ngFor="let direction of directions"
                            [value]="direction.dir_label">{{ direction.dir_label }}</option>
                        </datalist>
                    </div>
                </div>
                <div class="col-12 d-flex mt-4 justify-content-center">
                    <button type="button" (click)="onBack()" class="btn-red w-25">
                        Retour
                    </button>

                    <button type="submit" class="ms-3 w-25 {{ formGroup.invalid ? 'btn-invalid' : 'btn-green' }}" [disabled]="formGroup.invalid">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
