<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Nouveau courrier</li>
            </ol>
        </nav>    
    </div>
    <div class="content mt-4">
        <div class="w3-border p-2 d-flex align-items-center bg-blue text-white">
            <img src="assets/images/email.png" alt="" class="me-3">
            Nouveau courrier
        </div>
        <div class="mt-1 p-3">
            <form class="row" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="col-6">
                    <div class="form-group">
                        <label for="dateenvoi" class="form-label">Date de reception. <span class="text-danger">*</span></label>
                        <input type="date" class="w3-border w3-input" id="dateenvoi" formControlName="dateReceived">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="nom" class="form-label">Nom de l'expéditeur. <span class="text-danger">*</span></label>
                        <input type="text" class="w3-border w3-input" list="expediteur" formControlName="corresponding">
                        <datalist id="expediteur">
                            <select>
                                <option 
                                *ngFor="let service of services"
                                [value]="service.serv_label">{{ service.serv_label }}</option>
                            </select>
                        </datalist>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <label for="objet" class="form-label">Objet. <span class="text-danger">*</span></label>
                        <input type="text" class="w3-border w3-input" id="objet" formControlName="object">
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <label for="service" class="form-label">Destinataire. <span class="text-danger">*</span></label>
                        <input type="text" class="w3-border w3-input" list="service" formControlName="idService">
                        <datalist id="service">
                            <option 
                            *ngFor="let service of services"
                            [value]="service.serv_label">{{ service.serv_label }}</option>
                        </datalist>
                    </div>
                </div>

                <div class="col-4 mt-3" *ngIf="id == 0">
                    <div class="form-group">
                        <label class="form-label">Ajouter une pièce jointe.</label>
                        <label for="pj" class="form-label btn-orange p-2 text-center" style="cursor: pointer;">Pièce jointe</label>
                        <input type="file" id="pj" multiple="multiple" (change)="onFileChange($event)">
                    </div>
                </div>
                <div class="mt-3 col-12 row" *ngIf="id == 0">
                    <div class="d-flex align-items-center py-1 w3-border-bottom mb-3">
                        <img src="assets/images/attached-file.png" alt="" class="me-3">
                        Vos pièces jointes
                    </div>
                    <div class="col-3 d-flex mb-3" *ngFor="let file of files; let i = index">
                        <div class="chip rounded-pill w-100">
                            <a href="#" class="text-overflow">{{ file.name }}</a>
                        </div>
                        <button type="button" class="btn" (click)="removeFile(i)">
                            &#215;
                        </button>
                    </div>
                </div>
                <div class="col-12 d-flex mt-4 justify-content-center">
                    <button type="button" (click)="onBack()" class="btn-red w-25">
                        Retour
                    </button>

                    <button type="submit" class="ms-3 w-25 {{ formGroup.invalid ? 'btn-invalid' : 'btn-green' }}" [disabled]="formGroup.invalid">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
