<div class="w3-animate-right" id="print-section">
    <div class="header d-flex pb-2 w3-border-bottom align-items-center justify-content-between printRemove">
        <div>
            <h3><strong class="txt-blue m-0">Statistiques des courriers</strong></h3>
            <small class="m-0">{{ ('du ' + (firstDayOfWeek | date: 'dd') + ' au ' + (lastDayOfWeek | date: 'dd') + ' ' + (lastDayOfWeek | date: 'MMMM')) | uppercase }}</small>
        </div>

        <div class="d-flex align-items-center">
            <label for="debut" class="me-3"><strong>DU</strong></label>
            <input type="date" id="debut" class="form-control bg-transparent" #firstDate [value]="firstDayOfWeek | date: 'yyyy-MM-dd'" (change)="getStatistics(firstDate.value, lastDate.value)">
            <label for="fin" class="mx-3"><strong>AU</strong></label>
            <input type="date" id="fin" class="form-control bg-transparent" #lastDate [value]="lastDayOfWeek | date: 'yyyy-MM-dd'" (change)="getStatistics(firstDate.value, lastDate.value)">
        </div>

        <div class="d-flex w-auto">
            <button class="btn-green px-3" routerLink="/admin/registry/edit-mail/0" *ngIf="currentUser.data.user_role != 'CONSULTANT'">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                Nouveau courrier
            </button>

            <!-- <button class="btn-orange ms-3 w-auto px-3" data-bs-toggle="modal" data-bs-target="#importModal" *ngIf="currentUser.data.user_role != 'CONSULTANT'" (click)="mails = []">
                <fa-icon [icon]="faFileImport"></fa-icon>
            </button>  -->

            <a [href]="urlg + '/read/report.php?first_date=' + firstDate.value + '&last_date=' + lastDate.value" target="_blank" class="btn-red ms-3 w-auto px-3 d-flex link-light text-decoration-none">
                <fa-icon [icon]="faPrint" class="me-1"></fa-icon>
                Rapport
            </a>
        </div>
    </div>
    <div class="w3-animate-opacity">
        <div class="p-3 row printSection">
            <div class="col-2 p-2">
                <div class="rounded d-flex" style="height: 80px; background-color: rgb(239, 246, 255)">
                    <div class="d-flex px-3 align-items-center justify-content-between w-100">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <h4 class="mb-1" style="opacity: .3;"><fa-icon [icon]="faMailBulk"></fa-icon></h4>
                            <strong class="txt-blue">Total</strong>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <h4><strong style="opacity: .5; font-family: 'Roboto';">{{ statistics ? statistics.total_mail : '' }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-2 p-2">
                <div class="rounded d-flex" style="height: 80px; background-color: rgb(255, 239, 239)">
                    <div class="d-flex px-3 align-items-center justify-content-between w-100">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <h4 class="mb-1" style="opacity: .3;"><fa-icon [icon]="faPause"></fa-icon></h4>
                            <strong class="text-danger">En attente</strong>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <h4><strong style="opacity: .5; font-family: 'Roboto';">{{ statistics ? statistics.mail_in_waiting : '' }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-2 p-2">
                <div class="rounded d-flex" style="height: 80px; background-color: rgb(255, 251, 239)">
                    <div class="d-flex px-3 align-items-center justify-content-between w-100">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <h4 class="mb-1" style="opacity: .3;"><fa-icon [icon]="faUserTie"></fa-icon></h4>
                            <strong class="text-warning">Courrier DG</strong>
                        </div>
                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <h4><strong style="opacity: .5; font-family: 'Roboto';">{{ statistics ? statistics.mail_dg : '' }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="mt-3 printSection">
            <p class="fw-bold txt-blue"> &bull; Statistiques des courriers par nature de la demande</p>
            <table class="w-100">
                <tbody>
                    <tr *ngFor="let objectStatistics of statistics.total_by_object">
                        <td class="w-25 fw-bold pb-3"><div class="text-overflow">{{ objectStatistics.mail_object }}</div></td>
                        <td class="w-50 px-5">
                            <div class="w-100 bg-light rounded" style="height: 5px;">
                                <div class="h-100 bg-green rounded" [style.width]="(objectStatistics.total/statistics.total_mail)*100 + '%'"></div>
                            </div>
                        </td>
                        <td style="font-style: italic;">{{ (objectStatistics.total/statistics.total_mail) * 100 | number: '1.2-2' }} %</td>
                        <td align="right">{{ objectStatistics.total }} courrier(s)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="d-flex">
            <div id="barChart" class="mt-3 printSection" style = "width: 50%; height: 500px; display: block;"></div>
        <div id="pieChart" class="mt-3 printSection ms-3" style = "width: 50%; height: 500px; display: block;"></div>
        </div>
    
        <div class="my-3">
            <select class="form-select w-25 ms-auto mb-3 bg-transparent printRemove" #year (change)="onGetStat(+year.value)">
                <option
                *ngFor="let year of years"
                 [value]="year.year" [selected]="years.length > 1 ? year.year == nowDate.getFullYear() - 1 : year.year == nowDate.getFullYear()">{{ year.year }}</option>
            </select>
            <highcharts-chart
                id="chart"
                [Highcharts]="highcharts"
                [options]="chartOptions"
                class="border rounded p-2 printSection"
                style = "width: 100%; height: 400px; display: block;">
            </highcharts-chart>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="importModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-green">
          <h5 class="modal-title">Importation de données</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
          <div>
            <div class="d-flex justify-content-between w-100">
                <div class="form-group">
                    <label for="file" class="form-label btn-orange p-2 text-center w-auto" style="cursor: pointer;">Importer un fichier Excel</label>
                    <input type="file" id="file" accept=".xlsx" (change)="importFile($event)">
                </div>
    
                <a [href]="exempleLink" class="link-secondary">Télécharger le fichier d'exemple</a>
            </div>

            <div class="mt-3 w3-border p-3">
                <div class="d-flex justify-content-around mb-3" *ngIf="nbrMail != 0">
                    <div class="px-3 py-1 border" *ngFor="let n of [].constructor(nbrMail)"></div>
                </div>
                <table class="table table-striped">
                    <thead class="thead-blue">
                        <tr>
                            <th>Date rcp.</th>
                            <th>Expéditeur.</th>
                            <th>Objet.</th>
                            <th>Destinataire.</th>
                            <th>Date trs.</th>
                            <th>Annotation.</th>
                            <th>Imputation.</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="mails.length == 0">
                        <tr>
                            <td colspan="8" align="center">Aucune donnée trouvée.</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="mails.length > 0">
                        <tr *ngFor="let mail of mails">
                            <td width="100">{{ getTime(mail.reception) | date: 'yyyy-MM-dd' }}</td>
                            <td width="100"><div class="text-overflow">{{ mail.expediteur }}</div></td>
                            <td class="w-25"><div class="text-overflow">{{ mail.objet }}</div></td>
                            <td class="w-25"><div class="text-overflow">
                                <select id="direction" class="form-control-sm form-control" disabled>
                                    <option 
                                    *ngFor="let direction of directions"
                                    [value]="direction.dir_id" [selected]="mail.destinataire.includes(direction.dir_label)">{{ direction.dir_label }}</option>
                                </select>
                            </div></td>
                            <td width="100">{{ mail.transmission ? (getTime(mail.transmission) | date: 'yyyy-MM-dd') : '' }}</td>
                            <td width="100"><div class="text-overflow">{{ mail.annotation }}</div></td>
                            <td width="100"><div class="text-overflow">{{ mail.imputation }}</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-red w-25" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="{{ mails.length == 0 ? 'btn-invalid' : 'btn-green' }} w-25" (click)="onSubmit()" [disabled]="mails.length == 0">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>