<div class="w3-animate-right">
    <div class="header d-flex pb-2 w3-border-bottom align-items-center justify-content-between">
        <div>
            <h3><strong class="txt-blue m-0">Statistiques des courriers</strong></h3>
            <small class="m-0">{{ ('du ' + (firstDayOfWeek | date: 'dd') + ' au ' + (lastDayOfWeek | date: 'dd') + ' ' + (lastDayOfWeek | date: 'MMMM')) | uppercase }}</small>
        </div>

        <div class="d-flex align-items-center">
            <label for="debut" class="me-3"><strong>DU</strong></label>
            <input type="date" id="debut" class="w3-border w3-input" #firstDate [value]="firstDayOfWeek | date: 'yyyy-MM-dd'" (change)="getStatistics(firstDate.value, lastDate.value)">
            <label for="fin" class="mx-3"><strong>AU</strong></label>
            <input type="date" id="fin" class="w3-border w3-input" #lastDate [value]="lastDayOfWeek | date: 'yyyy-MM-dd'" (change)="getStatistics(firstDate.value, lastDate.value)">
        </div>

        <div class="d-flex w-auto">
            <button class="btn-green px-3" routerLink="/admin/registry/edit-mail/0">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                Nouveau courrier
            </button>

            <button class="btn-orange ms-3 w-auto px-3" data-bs-toggle="modal" data-bs-target="#importModal">
                <fa-icon [icon]="faFileImport"></fa-icon>
            </button>

            <button class="btn-red ms-3 w-auto px-3" (click)="onPrint(firstDate.value, lastDate.value)">
                <fa-icon [icon]="faPrint"></fa-icon>
            </button>
        </div>
    </div>
    <div class="p-3 row">
        <div class="col-2 p-2">
            <div class="rounded d-flex" style="height: 80px; background-color: rgb(239, 246, 255)">
                <div class="d-flex px-3 align-items-center justify-content-between w-100">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h4 class="mb-1" style="opacity: .3;"><fa-icon [icon]="faMailBulk"></fa-icon></h4>
                        <strong class="txt-blue">Total</strong>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                        <h4><strong style="opacity: .5; font-family: 'Roboto';">{{ statistics ? statistics.total_mail : '' }}</strong></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 p-2">
            <div class="rounded d-flex" style="height: 80px; background-color: rgb(255, 239, 239)">
                <div class="d-flex px-3 align-items-center justify-content-between w-100">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h4 class="mb-1" style="opacity: .3;"><fa-icon [icon]="faPause"></fa-icon></h4>
                        <strong class="text-danger">En attente</strong>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                        <h4><strong style="opacity: .5; font-family: 'Roboto';">{{ statistics ? statistics.mail_in_waiting : '' }}</strong></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 p-2">
            <div class="rounded d-flex" style="height: 80px; background-color: rgb(255, 251, 239)">
                <div class="d-flex px-3 align-items-center justify-content-between w-100">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h4 class="mb-1" style="opacity: .3;"><fa-icon [icon]="faUserTie"></fa-icon></h4>
                        <strong class="text-warning">Courrier DG</strong>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                        <h4><strong style="opacity: .5; font-family: 'Roboto';">{{ statistics ? statistics.mail_dg : '' }}</strong></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2"></div>
    </div>

    <div class="mt-3">
        <p class="fw-bold txt-blue"> &bull; Statistiques des courriers par nature de la demande</p>
        <table class="w-100">
            <tbody>
                <tr *ngFor="let objectStatistics of statistics.total_by_object">
                    <td class="w-25 fw-bold pb-3"><div class="text-overflow">{{ objectStatistics.mail_object }}</div></td>
                    <td class="w-50 px-5">
                        <div class="w-100 bg-light rounded" style="height: 5px;">
                            <div class="h-100 bg-green rounded" [style.width]="(objectStatistics.total/statistics.total_mail)*100 + '%'"></div>
                        </div>
                    </td>
                    <td style="font-style: italic;">{{ (objectStatistics.total/statistics.total_mail) * 100 | number: '1.2-2' }} %</td>
                    <td>{{ objectStatistics.total }} courrier(s)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="my-3">
        <select class="form-select w-25 ms-auto mb-3" #year (change)="onGetStat(+year.value)">
            <option
            *ngFor="let year of years"
             [value]="year">{{ year }}</option>
        </select>
        <highcharts-chart
            id="chart"
            [Highcharts] = "highcharts"
            [options]="chartOptions"
            style = "width: 100%; height: 400px; display: block;">
        </highcharts-chart>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="importModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-green">
          <h5 class="modal-title">Importation de données</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
          <div>
            <div class="d-flex justify-content-between w-100">
                <div class="form-group">
                    <label for="file" class="form-label btn-orange p-2 text-center w-auto" style="cursor: pointer;">Importer un fichier Excel</label>
                    <input type="file" id="file" accept=".xlsx" (change)="importFile($event)">
                </div>
    
                <a [href]="exempleLink" class="link-secondary">Télécharger le fichier d'exemple</a>
            </div>

            <div class="mt-3 w3-border p-3">
                <table class="table table-striped">
                    <thead class="thead-blue">
                        <tr>
                            <th>Date rcp.</th>
                            <!-- <th>Date trs.</th> -->
                            <th>Expéditeur.</th>
                            <th>Objet.</th>
                            <th>Destinataire.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="mails.length == 0">
                        <tr>
                            <td colspan="6" align="center">Aucune donnée trouvée.</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="mails.length > 0">
                        <tr *ngFor="let mail of mails | paginate : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                          let i = index">
                            <td width="100">{{ mail["Date de réception"]}}</td>
                            <!-- <td width="100">{{ mail["Date de transmission"] }}</td> -->
                            <td width="200"><div class="text-overflow">{{ mail["Expéditeur"] }}</div></td>
                            <td class="w-25"><div class="text-overflow">{{ mail.Objet }}</div></td>
                            <td class="w-25"><div class="text-overflow">
                                <input type="text" class="w3-border w3-input" list="direction" [value]="mail.Destinataire">
                                <datalist id="direction">
                                    <option 
                                    *ngFor="let direction of directions"
                                    [value]="direction.dir_label">{{ direction.dir_label }}</option>
                                </datalist>
                            </div></td>
                            <td align="right">
                                <button class="btn btn-outline-danger btn-sm" (click)="deleteMail(i)" *ngIf="!loading[i] && !success[i]">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>

                                <div class="spinner-border text-secondary" role="status" *ngIf="loading[i]">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <button class="btn btn-sm btn-success rounded-circle" *ngIf="success[i] && !loading[i]">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="px-2 d-flex justify-content-end align-items-center" style="font-size: smaller;" *ngIf="mails.length > 0">
                    <p>Total : [ {{ mails.length }} ]</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                    <div class="d-flex mr-3">
                      Enregistrements par page :&nbsp;&nbsp;
                      <select id="items-per-page" #value class="mr-3 mb-3" (change)="changeSize(value.value)">
                        <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
                      </select>
                    </div>
                  
                    <div class="d-flex justify-content-center">
                      <pagination-controls
                        previousLabel="Précédent"
                        nextLabel="Suivant"
                        (pageChange)="onTableDataChange($event)"
                      >
                      </pagination-controls>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-red w-25" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="{{ mails.length == 0 ? 'btn-invalid' : 'btn-green' }} w-25" (click)="onSubmit()" [disabled]="mails.length == 0">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>