<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/admin/registry">Registres</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ register ? register.reg_label : '' }}</li>
            </ol>
        </nav>    
    </div>
    
    <div class="content mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <input type="search" placeholder="Tapez votre recherche..." #search class="w3-input w3-border w-50 bg-transparent" (keyup)="onSearch(search.value)">
            <div class="d-flex w-auto ms-5">
                <button class="btn-green px-3 w-auto" [routerLink]="['/admin/registry/edit-mail', 0]" *ngIf="currentUser.data.user_role != 'CONSULTANT'">
                    <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;
                    Nouveau courrier
                </button>
                <button class="btn-orange px-3 ms-2 w-auto" (click)="exportToExcel()">
                    <fa-icon [icon]="faFileExport"></fa-icon>&nbsp;
                    Exporter
                </button>
            </div>
        </div>
        <div class="text-center" *ngIf="loading">
            <app-loader></app-loader>
        </div>
        <div class="mt-3 w3-border p-3 w3-animate-opacity">
            <table class="table table-striped">
                <thead class="thead-blue">
                    <tr>
                        <th>N°.</th>
                        <th>Date rcp.</th>
                        <th *ngIf="id == 2">Date trs.</th>
                        <th>Expéditeur.</th>
                        <th>Objet.</th>
                        <th>Destinataire.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngIf="mails.length == 0">
                    <tr>
                        <td colspan="6" align="center">Aucune donnée trouvée.</td>
                    </tr>
                </tbody>
                <tbody *ngIf="mails.length > 0">
                    <tr *ngFor="let mail of mails | paginate : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                      let i = index" 
                      [ngStyle]="{'background-color': mail.mail_shipping_date && getTimeDifference(mail.mail_shipping_date) < 0 ? 'rgba(188, 255, 188, 0.87)' : mail.mail_shipping_date && getTimeDifference(mail.mail_shipping_date) == 0 ? 'rgb(255, 194, 143)' : ''}">
                        <td width="10">{{ mail.mail_ref }}</td>
                        <td width="100">{{ mail.mail_date_received}}</td>
                        <td width="100" *ngIf="id == 2">{{ mail.mail_shipping_date  }}</td>
                        <td width="200"><div class="text-overflow">{{ mail.mail_corresponding }}</div></td>
                        <td class="w-25"><div class="text-overflow">{{ mail.mail_object }}</div></td>
                        <td class="w-25"><div class="text-overflow">{{ mail.dir_label | titlecase }}</div></td>
                        <td align="right">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-outline-info btn-sm me-3" data-bs-toggle="modal" data-bs-target="#showMoreInfo" (click)="getMail(mail)">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                                <button class="btn btn-outline-success btn-sm me-3" *ngIf="id === 1 && currentUser.data.user_role != 'CONSULTANT'" data-bs-toggle="modal" data-bs-target="#mailHandled" (click)="getIdMail(mail.mail_ref); error = false; success = false">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </button>
                                <button class="btn btn-outline-primary btn-sm me-3" *ngIf="id === 1 && currentUser.data.user_role != 'CONSULTANT'" [routerLink]="['/admin/registry/edit-mail', mail.mail_ref]">
                                    <fa-icon [icon]="faPencil"></fa-icon>
                                </button>
                                <button class="btn btn-outline-danger btn-sm" *ngIf="currentUser.data.user_role == 'ADMINISTRATEUR'" (click)="onDelete(mail.mail_ref)">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="px-2 d-flex justify-content-end align-items-center" style="font-size: smaller;" *ngIf="mails.length > 0">
                <p>Total : [ {{ mails.length }} ]</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
                <div class="d-flex mr-3">
                  Enregistrements par page :&nbsp;&nbsp;
                  <select id="items-per-page" #value class="mr-3 mb-3" (change)="changeSize(value.value)">
                    <option *ngFor="let size of tableSizes" [value]="size">{{ size }}</option>
                  </select>
                </div>
              
                <div class="d-flex justify-content-center">
                  <pagination-controls
                    previousLabel="Précédent"
                    nextLabel="Suivant"
                    (pageChange)="onTableDataChange($event)"
                  >
                  </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirm register changing -->
<div class="modal fade" id="mailHandled" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="modal-header bg-gradient text-danger text-center">
          <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment marquer ce courrier comme étant traité ? Si oui, renseigner les champs ci-dessous il fera partir du registre de départ.</h5>
        </div>
        <div class="modal-body">
            <div class="message message--error bg-light w3-animate-opacity" *ngIf="error">
                <i class="fa fa-close me-2"></i>
                {{ message }}
            </div>
            <div class="message message--success bg-light w3-animate-opacity mt-3" *ngIf="success">
                <i class="fa fa-close me-2"></i>
                {{ message }}
            </div>
            <p class="text-center">Le champ marqué par <span class="text-danger">*</span> est obligatoire.</p>
            <div class="form-group mb-3">
                <label class="form-label">Date de transmission. <span class="text-danger fw-bold">*</span></label>
                <input type="date" class="form-control w-100" formControlName="shippingDate">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Annotation.</label>
                <input type="text" class="form-control w-100" formControlName="annotation">
            </div>
            <div class="form-group">
                <label class="form-label">Imputation.</label>
                <input type="text" class="form-control w-100" formControlName="imputation">
            </div>
            <div class="col-4 mt-3">
                <div class="form-group">
                    <label class="form-label">Ajouter une pièce jointe.</label>
                    <label for="pj" class="form-label btn-orange p-2 text-center" style="cursor: pointer;">Pièce jointe</label>
                    <input type="file" id="pj" multiple="multiple" accept="application/pdf" (change)="onFileChange($event)">
                </div>
            </div>
            <div class="mt-3 col-12 row">
                <div class="d-flex align-items-center py-1 w3-border-bottom mb-3 mx-3">
                    <img src="assets/images/attached-file.png" alt="" class="me-3">
                    Vos pièces jointes
                </div>
                <div class="col-4 d-flex mb-3" *ngFor="let file of files; let i = index">
                    <div class="chip rounded-pill w-100">
                        <a href="#" class="text-overflow">{{ file.name }}</a>
                    </div>
                    <button type="button" class="btn" (click)="removeFile(i)">
                        &#215;
                    </button>
                </div>
            </div>
            <div class="text-center" *ngIf="load">
                <app-loader></app-loader>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-sm btn-success" [disabled]="formGroup.invalid">Enregistrer</button>
        </div>
    </form>
    </div>
</div>

<!-- Show more informations on mail -->
<div class="modal fade" id="showMoreInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form class="modal-content" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="modal-header bg-secondary fw-bold text-white">
          <h5 class="modal-title" id="staticBackdropLabel">Plus d'informations</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <input type="text" class="form-control w-100" [value]="mail ? 'N° '+mail.mail_ref : ''" disabled>
                </div>
                <div class="col-6">
                    <button class="btn btn-secondary w-100" [routerLink]="['/admin/archives/', mail ? mail.mail_ref : '']" data-bs-dismiss="modal">
                        Pièces jointes
                    </button>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Correspondant.</label>
                <input type="text" class="form-control w-100" [value]="mail ? mail.mail_corresponding : ''" disabled>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Objet.</label>
                <input type="text" class="form-control w-100" [value]="mail ? mail.mail_object : ''" disabled>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Destinataire.</label>
                <input type="text" class="form-control w-100" [value]="mail ? mail.dir_label : ''" disabled>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label class="form-label">Date de reception.</label>
                    <input type="text" class="form-control w-100" [value]="mail ? mail.mail_date_received : ''" disabled>
                </div>
                <div class="form-group mb-3 col-6">
                    <label class="form-label">Date de transmission.</label>
                    <input type="text" class="form-control w-100" [value]="mail ? mail.mail_shipping_date : ''" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-6">
                    <label class="form-label">Annotation.</label>
                    <input type="text" class="form-control w-100" [value]="mail ? mail.mail_annotation : ''" disabled>
                </div>
                <div class="form-group mb-3 col-6">
                    <label class="form-label">Imputation.</label>
                    <input type="text" class="form-control w-100" [value]="mail ? mail.mail_imputation : ''" disabled>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Fermer</button>
        </div>
    </form>
    </div>
</div>