<div class="w3-animate-right">
    <div class="content my-4 px-3">
        <div *ngFor="let notif of notifications; let i = index;" class="btn btn-light mb-3 border-0 text-start px-3 py-2 w-100 w3-animate-opacity">
            <div class="d-flex justify-content-between">
                <strong>{{ notif.title }}</strong>
                <button type="button" class="ms-2 mb-1 btn" (click)="remove(i)">
                    <span>&times;</span>
                </button>
            </div>
            <div>
                <div style="font-size: 17px; text-align: justify;">
                    {{ notif.body }}
                </div>
                <small class="text-end">il y'a environ {{ diff(notif.date) }} min</small>
            </div>
        </div>
    </div>
</div>
    