<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Registres</li>
            </ol>
        </nav>    
    </div>
    <div class="content mt-4 mb-3">
        <div class="w3-border p-2">
            <fa-icon [icon]="faFolderTree"></fa-icon>&nbsp;
            Registres
        </div>
        <div class="mt-2 row px-3 py-3">
            <div class="text-center" *ngIf="loading">
                <app-loader></app-loader>
            </div>
            <div class="col-2" *ngFor="let register of registers">
                <a [routerLink]="['/admin/registry/mail-list', register.reg_id]" class="btn btn-light d-flex flex-column w-auto justify-content-center align-items-center">
                    <img src="assets/images/folder.png" alt="">
                    <small>{{ register.reg_label }}</small>
                </a>
            </div>
        </div>
    </div>
</div>
