/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$colors: (
    "white": rgba(255, 255, 255, 0.877),
    "dark": rgba(24, 24, 24, 0.863),
    "disabled": rgba(196, 196, 196, 0.904),
    "green": rgba(62, 143, 62, 0.87),
    "green-light": rgba(95, 253, 95, 0.87),
    "blue": rgb(39, 113, 173),
    "blue-light": rgba(94, 209, 255, 0.87),
    "blue-grey": rgb(72, 94, 112),
    "red": rgba(204, 66, 66, 0.87),
    "orange": rgb(209, 118, 43),
    "purple": rgba(182, 47, 235, 0.87),
    "pink": rgba(235, 47, 204, 0.87)
);

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5483aac7;
}

* {
    font-family: 'Inter';
}

body {
    filter: blur(0.35px);
}

.breadcrumb {
    font-weight: bold;
}

.bg-green {
    background-color: #54aa8dc7;
}

.bg-blue {
    background-color: #5483aac7;
}

.txt-green {
    color: #54aa8dc7;
}

.txt-blue {
    color: #5483aac7;
}

.fine {
    font-weight: 100;
    color: rgb(241, 241, 241);
}

label {
    font-size: small;
}

.bg-img {
    background: url('assets/images/5591276.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.btn-blue {
    background-color: #5483aac7;
    color: white;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    padding-block: 7px;
    font-family: 'Inter';
}

.btn-blue:hover {
    background-color: #416583c7;
}

.btn-green {
    background-color: #54aa8dc7;
    color: white;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    padding-block: 7px;
    font-family: 'Inter';
}

.btn-green:hover:valid {
    background-color: #3e7e68c7;
}

.btn-invalid {
  background-color: #f0f0f0c7;
  color: rgb(206, 206, 206);
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: none;
  padding-block: 7px;
  font-family: 'Inter';
}

.btn-orange {
    background-color: #aa7e54c7;
    color: white;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    padding-block: 7px;
    font-family: 'Inter';
}

.btn-orange:hover {
    background-color: #946e4ac7;
}

.btn-red {
    background-color: #aa5454c7;
    color: white;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    padding-block: 7px;
    font-family: 'Inter';
}

.btn-red:hover {
    background-color: #9b4c4cc7;
}

.rd-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table {
    font-size: small;
}

.login-card {
    border-radius: 10px;
    height: 500px;
}

.bg-img-card {
    background: linear-gradient(#54aa8dc7, #54aa8dc7), url('assets/images/5026563.jpg');
    background-position: center;
    background-size: cover;
}

.chip {
    padding: 5px 15px;
    margin: 1px 5px;
    width: min-content;
    background-color: rgb(226, 226, 226);
    color: #5483aac7;
}

input[type="file"] {
    width: 0px;
    visibility: hidden;
    position: absolute;
	z-index: -1;
}

.text-overflow {
  text-overflow: ellipsis; 
  overflow: hidden; 
  -o-text-overflow : ellipsis; 
  display: -webkit-box;    
  -webkit-line-clamp: 1;  
  -webkit-box-orient: vertical;
}

.message {
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;

    &--success {
        border-left: 2px solid map-get($map: $colors, $key: "green");
        color: map-get($map: $colors, $key: "green");
    }

    &--error {
        border-left: 2px solid map-get($map: $colors, $key: "red");
        color: map-get($map: $colors, $key: "red");
    }

    &--warning {
        border-left: 2px solid map-get($map: $colors, $key: "orange");
        color: map-get($map: $colors, $key: "orange");
    }
}