<div class="w3-animate-right">
    <div class="bg-light px-3 pt-1">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a style="cursor: pointer;" (click)="onBack()">Liste des courriers</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Pièces jointes du courrier N° {{ id }}</li>
            </ol>
        </nav>    
    </div>

    <div class="content my-4 px-3">
        <div *ngIf="attachments.length > 0">
            <a [href]="urlg + attachment.attach_file" target="_blank" class="btn btn-secondary me-3" *ngFor="let attachment of attachments">
                {{ attachment.attach_label | lowercase }}
                <fa-icon [icon]="faDownload" class="ms-2"></fa-icon>
            </a>
        </div>
        <div *ngIf="attachments.length == 0">
            <p>Aucune pièce jointe trouvée.</p>
        </div>
    </div>
</div>
    